@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px; 
}

body {
    background-color: #ebe2dd;
    font-family: 'Roboto', sans-serif;
    zoom: 90%;
}

header {
    background-color: #ffffff;
    height: 80px;
}

a {
    text-decoration: none;
}

.cabeçalho {
    display: flex;
    align-items: center;
}

.cabeçalho img {
    height: 70px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
}

.menu {
    font-size: 16px;
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 5px;
    color: #175EA8;
    padding-top: 32px;
    padding-bottom: 22px;
    border-bottom: 7px solid transparent; /* Inicialmente transparente */
    transition: border-bottom-color 0.5s ease; /* Adiciona uma transição suave */
}

.menu:hover {
    border-bottom-color: #175EA8; /* Cor da borda ao passar o mouse */
}

main {
    width: 1100px;
    margin: auto;
    background-color: #ffffff;
    min-height: 100vh;
}

strong {
    color: #175EA8;
}


footer {
    background-color: #efefef;
    color: #133F6E;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 19px;
}

footer p {
    margin-bottom: 5px;
}

.logo-ifsc {
    width: 210px;
}













/* FILTRO BUSCA ENCONTREEE */

.titulo-encontrar {
    background-image: url('../img/encontre.png');
    background-size: cover;
    height: 110px;
}

.div-formata-encontrar{
    width: 300px;
    margin: auto;
    text-align: center;
}

.div-formata-encontrar input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 25px;
    width: 260px;
    margin-top: 5px;
}

.div-formata-encontrar button {
    background-color: #175EA8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 280px;
}

.div-formata-encontrar button:hover {
    background-color: #1f4e81;
}

.div-formata-encontrar input[type="submit"] {
    background-color: #175EA8;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 280px;
    height: 35px;
}

.div-formata-encontrar input[type="submit"]:hover {
    background-color: #1f4e81;
}

.div-formata-encontrar select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 280px;
    margin-top: 7px;
}









/* ACHEEEEEIIIII */

.titulo-resultado {
    background-image: url('../img/resultado.png');
    background-size: cover;
    height: 110px;
}

.cuidador-card {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.cuidador-card img {
    width: 150px;
    height: 150px;
    margin-right: 15px; /* Espaçamento à direita da imagem */
    border-radius: 100%;
}

.cuidador-card h2 {
    color: #175EA8;
    margin-bottom: 10px;
}

.cuidador-card p {
    margin-bottom: 10px;
}

button {
    background-color: #175EA8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 280px;
}

button:hover {
    background-color: #1f4e81;
}

.div-formata-resultado .cuidador-card {
    /* text-align: center; */
    justify-content: center;
}

.div-formata-resultado .cuidador-card2 {
    margin-top: 10px;
}









/* ABRIIIIIIII */

/* seletores da capa */
.div-ini {
    display: flex;
    height: 335px;
    background-image: url('../img/capa-perfil-busca2.png'); 
    background-size: cover;
}

.div-ini-esquerda {
    display: flex;
    padding-top: 165px;
    padding-left: 125px;
    width: 570px;
}

.div-ini-direita {
    padding-left: 20px;
    padding-top: 20px;
}

.div-ini-direita img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #fff;

}

.nome-capa {
    font-family: 'Montserrat', sans-serif;
    color: #195494;
    font-weight: 500;
    font-size: 50px;
}

.sobre-cuidador {
    padding: 15px;
    text-align: center;
    border: 0.5px solid #e3e3e3;
    margin: 20px;
    border-radius: 20px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    
}

.div-exibe-host p {
    margin-bottom: 10px;
}

.div-exibe-host h2 {
    text-align: center;
    color: #175EA8;
    margin-bottom: 15px;
    margin-top: 25px;
}

.fotoambiente {
    max-width: 680px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(65, 65, 65, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-exibe-host .texto-whats {
    text-align: center;
    margin: 20px;
}

.botoes-whats button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #42C453;
}

.botoes-whats button:hover {
    background-color: #429a4e;
}



























/* SLIDE SHOW NOTA 10 */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
display: none;
}

/* Estilo para o botão de navegação */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: #175EA8;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 50px;
user-select: none;
}

.next {
right: 0;
}

/* Adiciona estilos de hover aos botões */
.prev:hover, .next:hover {
background-color: #d8d6ce;
}
